@charset "utf=8";

/* common */
.offi_shop h2 {
  font-family: 'Paperlogy', sans-serif;
  font-weight: 600;
}

.offi_shop {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.offi_shop>a {
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  padding: 30px 3rem 0;
  width: 360px;
  flex:1;
  min-width: 335px;
}

.offi_shop .pluszone,
.offi_shop .moapin {
  margin: 0;
}

.offi_shop .plusyou,
.offi_shop .kv_gift {
  margin: 0;
}

.offi_shop .content_box {
  border-width: 2px;
}

.offi_shop .content {
  margin: 0;
}

.offi_shop .pingdeal{
  border-color: #00D1C7;
}

