@charset "utf-8";

.pc_navi_wrap .pc_logo_white {
    display: block;
}

/* .black */
.pc_navi_wrap.black .menu li a {
    color: #333;
}

.pc_navi_wrap.black .pc_logo {
    display: block;
}

.pc_navi_wrap.black .pc_logo_white {
    display: none;
}

.pc_navi_wrap .menu li a {
    color: #fff;
}


.pc_navi_wrap .pc_logo {
    display: none;
}

/* .black */

#gnb:hover .pc_navi_wrap .menu li a {
    color: #333;
}

#gnb:hover .pc_navi_wrap .pc_logo {
    display: block;
}

#gnb:hover .pc_navi_wrap .pc_logo_white {
    display: none;
}



#gnb li.has-submenu>a::after {
    content: url("data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 -960 960 960%22 fill=%22%23ffffff%22><path d=%22M480-357.85 253.85-584 296-626.15l184 184 184-184L706.15-584 480-357.85Z%22/></svg>");
    mix-blend-mode: difference;
}

#gnb li.has-submenu:hover>a::after {
    content: url("data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 -960 960 960%22 fill=%22%23FF8309%22><path d=%22M480-357.85 253.85-584 296-626.15l184 184 184-184L706.15-584 480-357.85Z%22/></svg>");
}


/* media query */
@media screen and (min-width:971px) {
    #gnb:hover {
        background: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .mob_navi_wrap {
        display: none;
    }
}

/* min 971 */


@media screen and (max-width:970px) {
    .mob_navi_wrap .logo .mob_logo_white {
        display: block;
    }

    /* black */
    .mob_navi_wrap .logo .mob_logo {
        display: none;
    }

    /* black */
    .menu-button .bar {
        background: #fff;
    }
    .mob_navi_wrap.black .menu-button .bar {
        background: #222;
    }

    .menu-button.cross .bar:nth-child(1) {
        background: #fff;
    }

    .menu-button.cross .bar:nth-child(2) {
        background: #fff;
    }

    .mob_navi_wrap.black .logo .mob_logo_white {
        display: none;
    }


    /* black */
    .mob_navi_wrap.black .logo .mob_logo {
        display: block;
    }


    
}

/* max 970 */