@charset "utf-8";

.row_c {
    max-width: 1085px;
}

.sec_title {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

#sec-1 .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3rem;
}

#sec-1 .top a {
    display: flex;
    align-items: center;
    color: var(--po-color);
    position: relative;
    font-weight: 500;
}

#sec-1 .top a::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background: var(--po-color);
    bottom: -4px;
    transition: .4s var(--trans);
}

#sec-1 .top a:hover::before {
    width: 90%;
}

.wrap {
    background: #fff;
    border-radius: var(--bdrs);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    padding: 2.5rem 3.5rem 3.5rem;
    min-height: 550px;
}
.category {
    display: flex;
    gap: 1rem;
    color: #999;
    font-weight: 500;
    margin-bottom: 3rem;
}

.category p {
    position: relative;
    padding: 5px 7px;
    cursor: pointer;
    transition: .3s var(--trans);
}

.category p:hover {
    color: var(--po-color);
}

.category p.on {
    color: var(--po-color);
}

.category p::before {
    position: absolute;
    content: '';
    width: 00%;
    height: 3px;
    background: var(--po-color);
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s var(--trans);
}

.category p.on::before {
    width: 60%;
}

.number {
    width: 5%;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--po-color);
}

.title {
    flex-grow: 1;
    font-size: 1.8rem;
    font-family: 'Paperlogy', sans-serif;
    font-weight: 500;
}

.date {
    font-size: 1.4rem;
    color: #666;
}

.back_btn{
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    color: var(--po-color);
    margin-bottom: 2rem;
    padding: 5px 0px;
    font-weight: 500;
    cursor: pointer;
}
.back_btn::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background: var(--po-color);
    bottom: 0px;
    right: 0;
    transition: .4s var(--trans);
}

.back_btn:hover::before {
    width: 85%;
}


@media screen and (max-width:550px){
    .wrap{
        padding: 2rem !important;
    }
    .wrap ul li{
        padding: 2rem !important;
    }
    .wrap ul.faq_body li{
        padding: 0 !important;
    }
    .accordion{
        padding: 2rem !important;
    }
    .panel{
        padding: 0 2rem !important;
    }
    .number{
        display: none;
    }

    .qna_body li, .noti_body li{
        flex-direction: column;
        gap: 1rem !important;
        align-items: flex-start !important;
    }
    .date{
        font-size: 1.6rem;
    }
}/* max 550 */

@media screen and (max-width:400px){
    .accordion{
        padding: 2rem 1rem !important;
    }
    .panel{
        padding: 0 1rem !important;
    }
    .wrap ul li {
        padding: 2rem 1rem !important;
    }
}