@charset "utf-8";




.noti_body li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3.5rem;
    gap: 2rem;
    border-top: 1px solid #ddd;
    cursor: pointer;
}


.noti_body li:last-child {
    border-bottom: 1px solid #ddd;
}

.noti_body li:hover {
    background-color: var(--box-bg);
}
.txt{
    width: 80%;
    margin: 4rem auto 0;
    line-height: 1.7;
}

@media screen and (max-width:550px){
    .txt{
        margin: 0;
        margin-top: 4rem;
    }
}